# .gitignore for my ~ directory
# ignore everything in ~
*

# except specific configuration files
!manifest
!status
!.bashrc
!.bashGetMyFuncs
!.bashMyFuncs
!.bash_aliases
!.bash_profile
!.bash_sessions_disable
!.gitignore
!.inputrc
!.vimrc
!bin/update
